@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/* hero section */
:root {
    --font-polyFair: 'Playfair Display', serif !important;
    --brand-color: #deb118 !important;
}

.ryx__hero {
    background: url('../assets/images/bg_dark_shade.png'), url('../assets/images/bg.png') !important;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 779px;
}

.ryx__display__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ryx__section__title {
    color: var(--brand-color);
    font-size: 56px;
    font-weight: normal;
    padding-top: 289px;
    margin: 0px;
    padding-bottom: 0px;
    font-family: var(--font-polyFair);
}

.ryx__section__description {
    color: #fff;
    font-size: 26px !important;
    font-weight: 100 !important;
    padding-top: 11px !important;
    margin: 0px !important;
    width: 814px;
    text-align: center;
    line-height: 35px !important;
    letter-spacing: 0px;
    font-family: var(--font-polyFair);
}

.ryx__property__calculator__area {
    margin-top: 59px;
    /* margin-left: 450px;
    margin-right: 450px;
    width: 1019px; */
    margin-bottom: 1rem;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 40px;
    margin-left: 15%;
    margin-right: 15%;
}

.ryx__paymentCalculation {
    margin-top: 59px;
    /* margin-left: 450px;
    margin-right: 450px;
    width: 1019px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.ryx__justify-content-between {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.ryx__property-price {
    color: var(--brand-color);
    font-family: var(--font-polyFair);
    font-size: 25px;
    text-transform: uppercase;
}

.ryx__property-price-range {
    font-weight: 300;
    font-size: 30px;
    padding: 10px 35px 15px 35px !important;
    border: 1px solid #d0a616;
    margin: 0rem;
    border-radius: 13px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ryx__property-price-range input {
    background: transparent;
    outline: none;
    border: none;
    font-weight: 300;
    font-size: 30px;
    color: #fff !important;
    padding-left: 1rem;
}

#ryx__propertyPriceRange,
#ryx__downPaymentPercentRange,
#ryx__loanDurationRange,
#ryx__interestRateRange {
    width: 100%;
    margin: 21px 0 12px 0;
}

.ryx__downPayment {
    padding: 24px 0px;
}

.ryx__rangeStart,
.ryx__rangeEnd {
    color: #d0a616;
    font-size: 17px;
    padding: 0px 0 !important;
    margin: 0px !important;
    height: 22px;
}

.ryx__downPaymentPercent span {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
}
/* hero section end */

input[type='range'] {
    background-color: transparent;
}

/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
    Chrome
    input[type='range']::-webkit-slider-thumb {
        background-image: url('../assets/images/s-icon.png') !important;
        height: 31px;
        width: 19px;
        margin-top: -3px;
        background-position: center;
        background-size: cover;
        color: transparent !important;
    }
    input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;

        background-color: #9a905d;
        width: 100%;
        height: 10px;
        border-radius: 5px;
    }
} */

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    background-color: grey;
}

input[type='range']:focus {
    background-color: grey !important;
}

/* Chrome   */
input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: #9a905d;
    width: 100%;
    height: 10px;
    border-radius: 6px;
}
input[type='range']::-webkit-slider-thumb {
    background-image: url('../assets/images/s-icon.png');
    height: 31px;
    width: 19px;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    -webkit-appearance: none;
    margin-top: -10px;
}

/** FF*/
input[type='range']::-moz-range-thumb {
    background-image: url('../assets/images/s-icon.png');
    height: 31px;
    width: 19px;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: 0px;
}

input[type='range']::-moz-range-progress {
    background-color: #d8d8d8eb;
    width: 100%;
    height: 10px;
    border-radius: 5px;
}
input[type='range']::-moz-range-track {
    background-color: #9a905d;
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

/* IE*/
input[type='range']::-ms-fill-lower {
    background-image: url('../assets/images/s-icon.png');
    height: 31px;
    width: 19px;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: 0px;
}
input[type='range']::-ms-fill-upper {
    background-color: #9a905d;
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

.ryx__monthlyPaymentTable.ryx__table,
.ryx__monthlyPaymentTable tr,
.ryx__monthlyPaymentTable tr td {
    border: 1px solid #d0a616 !important;
    width: 535px;
}

.ryx__tableRowTitle {
    font-size: 17px;
    color: #d0a616;
    font-weight: lighter;
    text-align: center;
}

.ryx__tableRowValue {
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.ryx__monthlyPaymentChart h1 {
    font-size: 25px;
    font-weight: normal;
    color: #d0a616;
}

.ryx__monthlyPaymentChart h3 {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    margin: 20px 0;
}

.ryx__title {
    color: #deb118 !important;
    font-size: 25px !important;
    text-align: center !important;
    text-transform: uppercase;
    margin: 44px 0 25px 0;
}

.ryx__table.ryx__feesBreakDown {
    width: 535px;
}

.ryx__table.ryx__feesBreakDown ul li div {
    font-size: 17px;
    text-transform: uppercase;
    padding: 28px 0;
}

.ryx__table.ryx__feesBreakDown ul li div:nth-child(2) {
    font-size: 25px;
    text-transform: uppercase;
}

.table.ryx__feesBreakDown td {
    border: 1px solid #deb118;
    width: 50%;
}

.ryx__table.ryx__feesBreakDown ul li {
    border: 1px solid #deb118;
    padding: 0 31px;
    width: 535px;
}

.ryx__table.ryx__feesBreakDown ul {
    padding-left: 0px;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140 px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960 px;
    }

    .ryx__paymentCalculation {
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 720 px;
    }

    .ryx__paymentCalculation {
        flex-direction: column;
    }

    .ryx__paymentCalculation {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container,
    .container-sm {
        max-width: 540 px;
    }

    .ryx__property__calculator__area,
    .ryx__paymentCalculation {
        margin-left: 2%;
        margin-right: 2%;
    }

    .ryx__paymentCalculation {
        flex-direction: column;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .ryx__property__calculator__area,
    .ryx__paymentCalculation {
        margin-left: 2%;
        margin-right: 2%;
    }

    .ryx__paymentCalculation {
        flex-direction: column;
    }
}
